#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define TAP_SHIFT(_name_, _bindings_)       \
_name_: tap_shift_##_name_ {                \
    compatible = "zmk,behavior-mod-morph";  \
    bindings = <_bindings_>;                \
    #binding-cells = <0>;                   \
    mods = <(MOD_LSFT|MOD_RSFT)>;           \
};

#define TAP_CTRL(_name_, _bindings_)        \
_name_: tap_shift_##_name_ {                \
    compatible = "zmk,behavior-mod-morph";  \
    bindings = <_bindings_>;                \
    #binding-cells = <0>;                   \
    mods = <(MOD_LCTL|MOD_RCTL)>;           \
};

/ {
    behaviors {
        // default layer
        TAP_CTRL(bspcdel,    &kp BSPC &kp DEL)
        // lower layer
        TAP_SHIFT(one,       &kp N1 &kp EXCL)
        TAP_SHIFT(two,       &kp N2 &kp AT)
        TAP_SHIFT(three,     &kp N3 &kp POUND)
        TAP_SHIFT(four,      &kp N4 &kp DLLR)
        TAP_SHIFT(five,      &kp N5 &kp PRCNT)
        TAP_SHIFT(six,       &kp N6 &kp CARET)
        TAP_SHIFT(seven,     &kp N7 &kp AMPS)
        TAP_SHIFT(eight,     &kp N8 &kp ASTRK)
        TAP_SHIFT(nine,      &kp N9 &kp LPAR)
        TAP_SHIFT(zero,      &kp N0 &kp RPAR)
        TAP_SHIFT(lbrcs,     &kp LEFT_BRACKET &kp LEFT_BRACE)
        TAP_SHIFT(rbrcs,     &kp RIGHT_BRACKET &kp RIGHT_BRACE)
        TAP_SHIFT(ticktilde, &kp GRAVE &kp TILDE)
        TAP_SHIFT(dashunder, &kp MINUS &kp UNDER)
        // raise layer
        TAP_SHIFT(eqpls,     &kp EQUAL &kp PLUS)
        TAP_SHIFT(bckpipe,   &kp BSLH &kp PIPE)
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
            //                    | GUI | LWR | RSE |   | ENT | SPC  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R  &kp T    &kp Y    &kp U      &kp I      &kp O    &kp P     &bspcdel
&kp LCTRL  &kp A  &kp S  &kp D     &kp F  &kp G    &kp H    &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C     &kp V  &kp B    &kp N    &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                         &kp LGUI  &mo 1  &mo 2    &kp RET  &kp SPACE  &kp RALT
            >;
        };

        lower_layer {
            display-name = "Lower Layer";

            // -----------------------------------------------------------------------------------------
            // | `~   | 1!  | 2@  | 3#  | 4$  | 5%  |   | 6^  | 7&  | 8*  | 9(  | 0)  | -_   |
            // | CTRL |     |     |     |     |     |   | [{  | LFT | DWN | UP  | RGT |  ]}  |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     |     |   | ENT | SPC | ALT |

            bindings = <
&ticktilde  &one    &two      &three  &four   &five      &six       &seven    &eight    &nine         &zero      &dashunder
&kp LCTRL   &trans  &trans    &trans  &trans  &trans     &lbrcs     &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &rbrcs
&kp LSHFT   &trans  &trans    &trans  &trans  &trans     &trans     &trans    &trans    &trans        &trans     &trans
                    &kp LGUI  &trans  &trans  &kp RET    &kp SPACE  &kp RALT
            >;
        };

        raise_layer {
            display-name = "Raise Layer";
            | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |

            // -----------------------------------------------------------------------------------------
            // |      |     |     |     |     | ESC |   |     |     |     |     |     |  =+  |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   |     |     |     |     |     |  \|  |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     |     |   | ENT | SPC | ALT |

            bindings = <
&trans      &trans        &trans        &trans        &trans        &kp ESC          &trans     &trans     &trans     &trans    &trans    &eqpls
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4     &trans     &trans     &trans     &trans    &trans    &bckpipe
&kp LSHFT   &trans        &trans        &trans        &trans        &trans           &trans     &trans     &trans     &trans    &trans    &trans
                                        &kp LGUI      &trans        &trans           &kp RET    &kp SPACE  &kp RALT
            >;
        };
    };
};
